@font-face{
    src: url('../assets/sweet_easy/sweetEasy.ttf');
    font-family: sweetEasy;
}

@font-face{
    src: url('../assets/night_still_comes/NightStillComes_mine_final_sample.otf');
    font-family: night;
}

body{
    color: #fff;
    font-family: night;
    background-color: #DDD;
    background-image: url("../assets/background.png");
    background-size: cover;
}

#container{
    top:0;
    left:0;
    right:0;
    bottom:0;
    position: fixed;
    display: flex;
    flex-direction: column;
}

/*Header bar styles*/
#navBar{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: row;
    height: 75px;
    background-color: #2A0C3A;
}

#initialButton{
    display: inline-block;
    flex-grow: .75;
    padding-left: 50px;
    background-color: #2A0C3A;
    transition: background-color .25s;
    display: flex;
    flex-direction: row;
}

#headText{
    font-size: 16pt;
    line-height: 75px;
    font-family: sweetEasy;

}

#initialButton:hover{
    background-color: #401D53;
    cursor: pointer;
}

#emptySpace{
    flex-grow: 1.5;
}

#navButtons{
    flex-grow: 2;
    display: flex;
    flex-direction: row;
}

.navButton{
    width: 0px;
    flex-grow: 1;
    box-sizing: border-box;
    text-align: center;
    line-height: 75px;
    background-color: #2A0C3A;
    border-bottom: 0px solid #78375C;
    transition: border .25s, background-color .25s;
}

.navButton:hover{
    border-bottom: 7px solid #78375C;
    cursor: pointer;
    background-color: #401D53;
}

#soundIcon{
    background-image: url("../assets/soundIcon.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
    width: 25px;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 25px;
    transition: background-color .25s;
}

#soundIcon:hover{
    cursor: pointer;
    background-color: #401D53;
}
/*UNIVERSAL STYLES*/

#stateContainer{
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

#boxOne, #boxTwo{
    width: 100%;
    padding-top: 30px;
}

#boxTwo{
    background-color: #D2C8D8;
    border-top: 20px solid #78375C;
    opacity: .75;
}

.subButton{
    display: inline-block;
    padding: 10px 25px 10px 25px;
    box-sizing: border-box;
    background-color: #2A0C3A;
    border-radius: 4px;
    transition: border .25s;
    text-align: center;
    color: white;
    transition: background-color .25s;
}

.subButton:hover{
    cursor: pointer;
    background-color: #543068;
}

.subButton:active{
    transform: translateY(3px);
}

.section-heading{
    text-align:center;
    color:black;
    font-size: 20pt;
    font-family: sweetEasy;
}

/*INITIAL PAGE STYLES*/

#initialStateFlex{
    display: flex;
    flex-direction: row;
}

.initialStateFlexItem{
    width: 0px;
    padding: 50px;
    flex-grow: 1;
    transition: background-color .5s;
}

.initialStateFlexItem:hover{
    background-color: #A895B3;
}

#initialStateFlex2{
    display:flex;
    flex-direction:row;
    margin: 25px 200px 25px 200px;
}

.initialStateFlex2Item{
    flex-grow: 1;
}

/*TRANSLATE PAGE STYLES*/

#translateStateFlex{
    display: flex;
    flex-direction: row;
}

.translateStateFlexItem{
    flex-grow: 1;
    padding: 50px;
    width: 0px;
}

textarea{
    border: 0;
    padding: 15px;
    background-color: #D2C8D8;
    box-sizing: border-box;
    border-radius: 6px;
    opacity: .75;
}

textarea:focus{
    outline: 0;
}

/*LEARN PAGE STYLES*/

#learnStateFlex{
    display: flex;
    flex-direction: row;
    color: black;
}

.learnStateFlexItem{
    width: 0px;
    flex-grow: 1;
    padding: 50px;
    margin: 50px;
    background-color: #D2C8D8;
    border-radius: 6px;
    opacity: .75;
}

.circle{
    height:150px;
    width:150px;
    border-radius:50%;
    margin-top: 50px;
    display: inline-block;
    opacity: 1;
    background-image: url("../assets/strike.png");
    background-size: 60px 100px;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity .25s;
}

.circle:hover{
    cursor: pointer;
    opacity: .6;
}

.bottom{
    background-color: #D2C8D8;
    border-top: 20px solid #78375C;
    width: 100%;
    padding: 50px 0px 50px 0px;
    position: absolute;
    bottom:0;
}

#greenInput {
    border: 0;
    padding: 10px;
    background-color: #fff;
    box-sizing: border-box;
    font-size: 16px;
}

#greenInput:focus {
    outline: 0;
}

#yellowInput {
    border: 0;
    padding: 10px;
    background-color: #fff;
    box-sizing: border-box;
    font-size: 16px;
}

#yellowInput:focus {
    outline: 0;
}

#redInput {
    border: 0;
    padding: 10px;
    background-color: #fff;
    box-sizing: border-box;
    font-size: 16px;
}

#redInput:focus {
    outline: 0;
}

#greenAnswerBox {
    transition: background-color 0.25s;
    opacity: .75;
}

#yellowAnswerBox {
    transition: background-color 0.25s;
    opacity: .75;
}

#redAnswerBox {
    transition: background-color 0.25s;
    opacity: .75;
}