#container{
    display:grid;
    grid-template-areas:
    "top"
    "flex"
    "content"
    "footer";
    height:100%; 
}
.top{
    background-color: red;
    grid-area:top;
    font-size:48px;
    text-align:center;
    margin-bottom: 5px;
    width: 100%;
    
}
.buttons{
    font-size:30px;
    text-align:center;
    padding:20px;
    height:5vh;
    flex-grow:1;
}
.learn{
    background-color: green;
    grid-area:learn;
    
}
.translate{
    background-color: purple;
    grid-area:translate;
}
.message{
    background-color: blue;
    grid-area:message;
}
.reference{
    background-color: orange;
    grid-area:reference;  
}
.footer{
    background-color: yellow;
    grid-area:footer;
    font-size:48px;
    text-align:center;
    margin-bottom:10%;
    width: 100%;
}
.content{
    height:45vh;
    background-color: black;
    width:auto;
    margin-bottom:20px;
}
.flex{
    display:flex;
    grid-area:flex;
    
    border: 5px black solid;
    margin-bottom:20px;
}
