body{
    color: #fff;
    font-family: Impact;
    background-color: rgb(231, 231, 231);
}
#container{
    display:grid;
    grid-template-areas:
    "top"
    "flex"
    "."
    "footer";
    height:100%; 
}
.top{
    background-color: #9c9c9c;
    grid-area:top;
    font-size:5vh;
    text-align:center;
    margin-bottom: 1vh;
    cursor: pointer;
}
.buttons{
    font-size:40px;
    text-align:center;
    padding:3vh;
    flex-grow:1;
    background-color: #00a9ed;

}

.buttons:hover {
  
    background-color: #fff;
    color: #00a9ed;
    cursor: pointer;

}

.learn{
    grid-area:learn;
    border-right: 4px #00a9ed solid;
    
}
.translate{
    grid-area:translate;
    border-right: 4px #00a9ed solid;
}
.message{
    grid-area:message;
}
.reference{
    grid-area:reference;  
}
.content{
    right: 10px;
    left:10px;
    position: absolute;
    top:20vh;
    bottom:10vh;
    background-color: #fff;

}
.flex{
    display:flex;
    grid-area:flex;
    margin-bottom:20px;
    border: 4px #00a9ed solid;
}
.learnsection{
    display:flex;
    margin: 5vh 15vh;
    justify-content: space-between;
    text-align:center;
}
.column-1{
    background-color:teal;
}
.column-2{
    background-color:orange;
}
.column-3{
    background-color:green;
}
.column-learning{
    height:10vh;
    width:40vh;
    padding-bottom:50vh;
    background-color: #9c9c9c;
    font-size: 30px;
}
.section-heading{
    text-align:center;
    color:black;
}
#translate-flex{
    display: flex;
    justify-content: center;
}
.translate-item{
    align-self: auto;
    margin: auto;
}
#initial-flex{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.initial-class-item{
    padding:25px;
}
.circle{
    height:150px;
    width:150px;
    border-radius:50%;
    display: inline-block;
    cursor:pointer;
}